In [25]:
# importação de bibliotecas
import sys
import os
from src.data_ingestion.reading_data import load_csv

In [26]:
# Carrega o DataFrame

# Código necessário para acessar a raiz do projeto
root = os.path.abspath(os.path.join(os.getcwd(), '..'))
df = load_csv('onlinefoods.csv', folder=os.path.join(root, 'data'))

Arquivo 'onlinefoods.csv' carregado com sucesso.

In [ ]:
# Visualização inicial do dataframe
df.head()

   Age  Gender Marital Status  ... Output   Feedback Unnamed: 12
0   20  Female         Single  ...    Yes   Positive         Yes
1   24  Female         Single  ...    Yes   Positive         Yes
2   22    Male         Single  ...    Yes  Negative          Yes
3   22  Female         Single  ...    Yes   Positive         Yes
4   22    Male         Single  ...    Yes   Positive         Yes

[5 rows x 13 columns]